h1 {
  font-size: 22pt;
  text-shadow: 2px 2px 1px rgb(190, 190, 190);
 }
h2 {font-size: 14pt; }
h3 {font-size: 12pt;}
h3.title_box{font-size: 14pt;}

input[type="checkbox"]{
	width: 15px;
	  height: 15px;
	vertical-align: middle;
	margin: 0 5px;
	cursor: pointer;}

ul{
	padding-top: 0;
	margin-top: 0;}
	
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline:none;
	padding:0 3px;
	background: none;
	border-radius:5px;
	border: 2px solid #666;
	color:#333;}
select:active{
	box-shadow:1px 1px 1px 1px #999 inset, -1px -1px 1px 1px #fff inset;}
select:disabled{
	border: 2px solid #999;
	color:#999;}
select::-ms-expand {display: none;}

/*tr td{border:1px solid black;}
tr {border:1px solid black}*/

table.tableCalculator {
	background:#FFCC00;
	border-collapse: separate;
	text-align:center;
	}

table.tableCalculator th:nth-of-type(1){width: 22px}
table.tableCalculator th:nth-of-type(2){width: 275px}
table.tableCalculator th:nth-of-type(3){width: 33px}
table.tableCalculator th:nth-of-type(4){width: 27px}
table.tableCalculator th:nth-of-type(5){width: 15px}

.tableCalculator{
	border-radius: 15px;
	box-shadow: 3px 3px 5px 0px #999;
	border-spacing:0px 3px;
	margin: 20px auto;}
	
.greyStripe{background:#ccc}

.notationBord{
	display:block;
	border: 2px solid #808080;
	border-radius: 15px;
	box-shadow: 2px 2px 5px 2px #999;
	margin: 20px auto;
	padding: 10px;}

.contanerGrey{
	border: 2px solid #999;
	border-radius: 10px;
	box-shadow: 1px 1px 2px 0px #999;
	margin: 5px;
	padding: 5px;}
	
.contanerTransparent{
	cursor:pointer;
	border: 1px solid #999;
	border-radius: 5px;
	/*box-shadow:1px 1px 0px 0px #666;*/
	background:none;
	margin: 0px;}
.contanerTransparent:active{box-shadow:1px 1px 1px 1px #000 inset, -1px -1px 1px 1px #fff inset;}

.buttonBasic {
	text-decoration: none;
	font-size: 16px;
	text-shadow: 0 -1px 1px #fff;
	color: #000;
	outline: none;
	border-radius: 5px;
	box-shadow: 0 0 0 60px rgba(230,152,122,0) inset, .1em .1em .2em #666;
	//*background: linear-gradient(to bottom right, #b5bdc8 0%, #828c95 36%, #28343b 100%);*//}
.buttonBasic:active {
	top: .1em;
	left: .1em;
	box-shadow: 0 0 0 60px rgba(230,152,122,.05) inset;}
  
 .buttonAddJump{
	display:inline-block;
	width:100%;
	cursor:pointer;
	font-size:14px;
	text-align:center;
	outline:none;
	margin:5px 0 0 0;
	padding:0 5px;
	background:#999;
	border-radius:5px;
	border: 2px solid #666;
	color:#333;}
.buttonAddJump:active{
	box-shadow:1px 1px 1px 1px #000 inset, -1px -1px 1px 1px #fff inset;}
.buttonAddJump:disabled{
	border: 2px solid #999;
	background:#ccc;
	color:#333;}

.buttonFlat{
	text-decoration: none;
	font-size: 16px;
	text-shadow: 0 -1px 1px #fff;
	color: #000;
	outline: none;
	border-radius: 5px;}	
.buttonFlat:active{box-shadow:1px 1px 1px 1px #000 inset, -1px -1px 1px 1px #fff inset;}
	 
.buttonWork{
	background:#999;
	border:2px solid #666}
.buttonReset{
	background:#FF6600;
	border:2px solid #CC6633}
.buttonSave{
	background:#0099CC;
	border:2px solid #669999;}


.buttonScores {
  width: 116px;
  height: 25px;
  margin: 10px 1px 0 1px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  text-shadow: 0 -1px 1px #fff;
  color: #000;
  outline: none;
  border: 2px solid #808080;
  border-radius: 5px;
  box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #666;
  background: linear-gradient(to bottom right, #b5bdc8 0%, #828c95 36%, #28343b 100%);
}
.buttonScores:active {
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}





.paddingTable{padding: 0 5px;}

.convexFont{text-shadow: 1px 1px 1px #999, -1px -1px 0px #ccc;}

.fontOfTitle{font-size:18px;}
.floatR{float:right;}
.marginSelect{margin: 0 -5px 0 -4px;}

.noneSelect{	
	user-select:none;
	-ms-user-select:none;        
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;}

.hide {display: none;}

.point_of_list{
	cursor: pointer;
	text-align: center;
}
.sub_title {
	font-size: 12pt;
	cursor: pointer;}


.wrap_list{
	display: none;
	border: 2px solid rgb(171,130,255);
	border-radius: 5px;
	margin-bottom: 8px;
	margin-top: 8px;}
	
.wrap_list_s{display: none;}

.wrap_head{
	text-shadow: 1px 0px 0px #000, 0 -1px 1px #fff;
	outline: none;
	border: 1px solid #999;
	border-radius: 4px;
	background: #c9c9c9;
	margin-bottom: 2px;}
	
.wrap_head_s{
	text-shadow: 1px 0px 0px #000, 0 -1px 1px #fff;
	border-radius: 4px;
	outline: none;}
